@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
}

body {
    background: linear-gradient(to bottom right, #e8f0ff, #f5e9ff);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/*login page*/
.login-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 420px;
}

.icon-circle {
    background-color: #e9f3ff;
    color: #007bff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 0 auto 20px;
}

@media (max-width: 576px) {
    .login-card {
        padding: 1.5rem;
    }

    .icon-circle {
        width: 60px;
        height: 60px;
        font-size: 26px;
    }
}